.ddsmoothmenu-v ul{width:170px;list-style-type:none;font:bold 12px Verdana;margin:0;padding:0}
.ddsmoothmenu-v ul li{position:relative;float:none}
.ddsmoothmenu-v ul li a{display:block;overflow:auto;color:#FFF;text-decoration:none;border-bottom:1px solid #778;border-right:1px solid #778;padding:6px 23px 6px 6px}
.ddsmoothmenu-v ul li a:link,.ddsmoothmenu-v ul li a:visited,.ddsmoothmenu-v ul li a:active{background:#1c5a80;color:#FFF}
.ddsmoothmenu-v ul li a.selected{background:#ADD8E6!important;color:navy}
.ddsmoothmenu-v ul li a:hover{background:#ADD8E6;color:navy}
.ddsmoothmenu-v ul li ul{position:absolute;width:170px;top:0;font-weight:400;visibility:hidden}
* html .ddsmoothmenu-v ul li{float:left;height:1%}
* html .ddsmoothmenu-v ul li a{height:1%}