.f_ar {
    background-position:-0px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
}
.f_se {
    background-position:-18px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_kn {
    background-position:-36px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_st {
    background-position:-54px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_lb {
    background-position:-72px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_qa {
    background-position:-90px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gy {
    background-position:-108px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_kw {
    background-position:-126px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_np {
    background-position:-144px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_al {
    background-position:-162px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sg {
    background-position:-180px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ug {
    background-position:-198px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_nf {
    background-position:-216px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sz {
    background-position:-234px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_io {
    background-position:-252px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tt {
    background-position:-270px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_im {
    background-position:-288px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bz {
    background-position:-306px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ga {
    background-position:-324px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cf {
    background-position:-342px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cg {
    background-position:-360px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_am {
    background-position:-378px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_nr {
    background-position:-396px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ro {
    background-position:-414px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_vg {
    background-position:-432px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ki {
    background-position:-450px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sk {
    background-position:-468px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_er {
    background-position:-486px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_defaut {
    background-position:-504px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ec {
    background-position:-522px -0px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tn {
    background-position:-0px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_no {
    background-position:-18px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_to {
    background-position:-36px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cc {
    background-position:-54px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ru {
    background-position:-72px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mu {
    background-position:-90px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cm {
    background-position:-108px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cy {
    background-position:-126px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_jm {
    background-position:-144px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bb {
    background-position:-162px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gp {
    background-position:-180px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mt {
    background-position:-198px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_be {
    background-position:-216px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pa {
    background-position:-234px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_my {
    background-position:-252px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ch {
    background-position:-270px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ls {
    background-position:-288px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_nc {
    background-position:-306px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bo {
    background-position:-324px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gm {
    background-position:-342px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_si {
    background-position:-360px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_wf {
    background-position:-378px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ca {
    background-position:-396px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gh {
    background-position:-414px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gr {
    background-position:-432px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mr {
    background-position:-450px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_kh {
    background-position:-468px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ve {
    background-position:-486px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bw {
    background-position:-504px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_aw {
    background-position:-522px -12px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mv {
    background-position:-0px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pf {
    background-position:-18px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_en {
    background-position:-36px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_hk {
    background-position:-54px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_br {
    background-position:-72px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_vu {
    background-position:-90px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ly {
    background-position:-108px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bm {
    background-position:-126px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bf {
    background-position:-144px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_km {
    background-position:-162px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_vc {
    background-position:-180px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sm {
    background-position:-198px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ba {
    background-position:-216px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gu {
    background-position:-234px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_eh {
    background-position:-252px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cn {
    background-position:-270px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ir {
    background-position:-288px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_hu {
    background-position:-306px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pm {
    background-position:-324px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_an {
    background-position:-342px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_th {
    background-position:-360px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_il {
    background-position:-378px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gw {
    background-position:-396px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cs {
    background-position:-414px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pr {
    background-position:-432px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mo {
    background-position:-450px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tw {
    background-position:-468px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pl {
    background-position:-486px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sj {
    background-position:-504px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gf {
    background-position:-522px -24px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_fi {
    background-position:-0px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_fo {
    background-position:-18px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_de {
    background-position:-36px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bg {
    background-position:-54px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sn {
    background-position:-72px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_it {
    background-position:-90px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_dm {
    background-position:-108px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ua {
    background-position:-126px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ag {
    background-position:-144px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mn {
    background-position:-162px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_uy {
    background-position:-180px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tv {
    background-position:-198px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tf {
    background-position:-216px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_fk {
    background-position:-234px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pk {
    background-position:-252px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gg {
    background-position:-270px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_00 {
    background-position:-288px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_lv {
    background-position:-306px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ee {
    background-position:-324px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ax {
    background-position:-342px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ph {
    background-position:-360px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ai {
    background-position:-378px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_id {
    background-position:-396px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_uz {
    background-position:-414px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gn {
    background-position:-432px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ye {
    background-position:-450px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mk {
    background-position:-468px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ni {
    background-position:-486px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_by {
    background-position:-504px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sa {
    background-position:-522px -36px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_fm {
    background-position:-0px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_yu {
    background-position:-18px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_rs {
    background-position:-36px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cv {
    background-position:-54px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gb {
    background-position:-72px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_at {
    background-position:-90px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ae {
    background-position:-108px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_dj {
    background-position:-126px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tk {
    background-position:-144px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_je {
    background-position:-162px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ci {
    background-position:-180px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ky {
    background-position:-198px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_is {
    background-position:-216px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gg {
    background-position:-234px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pw {
    background-position:-252px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_do {
    background-position:-270px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_lc {
    background-position:-288px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_im {
    background-position:-306px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sb {
    background-position:-324px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bs {
    background-position:-342px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_hm {
    background-position:-360px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mc {
    background-position:-378px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tz {
    background-position:-396px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_es {
    background-position:-414px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pe {
    background-position:-432px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tm {
    background-position:-450px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_lt {
    background-position:-468px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cz {
    background-position:-486px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cl {
    background-position:-504px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_re {
    background-position:-522px -48px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sr {
    background-position:-0px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tc {
    background-position:-18px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_li {
    background-position:-36px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ms {
    background-position:-54px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pn {
    background-position:-72px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_jp {
    background-position:-90px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bt {
    background-position:-108px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mp {
    background-position:-126px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bd {
    background-position:-144px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cx {
    background-position:-162px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tl {
    background-position:-180px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_aq {
    background-position:-198px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_kp {
    background-position:-216px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ie {
    background-position:-234px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_us {
    background-position:-252px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_nz {
    background-position:-270px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_kz {
    background-position:-288px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_dk {
    background-position:-306px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bh {
    background-position:-324px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_lu {
    background-position:-342px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mx {
    background-position:-360px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bi {
    background-position:-378px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ne {
    background-position:-396px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gi {
    background-position:-414px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_fj {
    background-position:-432px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_py {
    background-position:-450px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_td {
    background-position:-468px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cd {
    background-position:-486px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_yt {
    background-position:-504px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pt {
    background-position:-522px -60px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mw {
    background-position:-0px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bv {
    background-position:-18px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_nl {
    background-position:-36px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ml {
    background-position:-54px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mh {
    background-position:-72px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ws {
    background-position:-90px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_et {
    background-position:-108px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_om {
    background-position:-126px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_na {
    background-position:-144px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_01 {
    background-position:-162px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_zw {
    background-position:-180px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ps {
    background-position:-198px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bj {
    background-position:-216px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_lr {
    background-position:-234px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gl {
    background-position:-252px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sv {
    background-position:-270px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ge {
    background-position:-288px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_so {
    background-position:-306px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ma {
    background-position:-324px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_kr {
    background-position:-342px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ht {
    background-position:-360px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tj {
    background-position:-378px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_iq {
    background-position:-396px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_va {
    background-position:-414px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_eg {
    background-position:-432px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sh {
    background-position:-450px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cr {
    background-position:-468px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_dz {
    background-position:-486px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_az {
    background-position:-504px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_co {
    background-position:-522px -72px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mg {
    background-position:-0px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ph {
    background-position:-18px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gd {
    background-position:-36px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_za {
    background-position:-54px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mm {
    background-position:-72px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_zm {
    background-position:-90px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_me {
    background-position:-108px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_in {
    background-position:-126px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ao {
    background-position:-144px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_fr {
    background-position:-162px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_lk {
    background-position:-180px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_je {
    background-position:-198px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_eu {
    background-position:-216px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_au {
    background-position:-234px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_nu {
    background-position:-252px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tr {
    background-position:-270px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mq {
    background-position:-288px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sc {
    background-position:-306px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_md {
    background-position:-324px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sd {
    background-position:-342px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_hn {
    background-position:-360px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_la {
    background-position:-378px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ad {
    background-position:-396px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_br {
    background-position:-414px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ke {
    background-position:-432px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_rw {
    background-position:-450px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_tg {
    background-position:-468px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_af {
    background-position:-486px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sl {
    background-position:-504px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_sy {
    background-position:-522px -84px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_cu {
    background-position:-0px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_mz {
    background-position:-18px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_pg {
    background-position:-36px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gt {
    background-position:-54px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_bn {
    background-position:-72px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_as {
    background-position:-90px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gs {
    background-position:-108px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_kg {
    background-position:-126px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_vi {
    background-position:-144px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_vn {
    background-position:-162px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_um {
    background-position:-180px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_jo {
    background-position:-198px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ng {
    background-position:-216px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_gq {
    background-position:-234px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_hr {
    background-position:-252px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ck {
    background-position:-270px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}
.f_ss {
    background-position:-288px -96px;
    background-image:url(img/bandeiras.png);
    background-repeat:no-repeat;
    width:18px;
    height:12px;
    display: block;
}